.none {
  display: none;
}
a {
  text-decoration: none;
}
body {
  background: #000;
}
.header {
}
.header__container {
  background-image: url(../src/img/header/div.tn-atom.jpg);

  background-size: ;
  background-repeat: no-repeat;
  min-height: 80vh;
  padding: 52px 120px 0px;
}

.header__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.header__logo-box {
}
.logo {
  margin-bottom: 5px;
  /* width: 227px;
  height: 15px; */
  font-family: Stapel;
  text-transform: uppercase;
  font-size: medium;
  color: #fff;
  line-height: 17px; /* 123.356% */
  letter-spacing: 18.5px;
}
.logo-text {
  color: #fff;
  font-family: Stapel, Arial, sans-serif;
  font-size: 14px;
  font-style: medium;
  font-weight: 300;
  line-height: 17px; /* 123.356% */
  letter-spacing: 2.4px;
}
.header__adres-box {
  display: flex;
  gap: 56px;
}
.header__adres {
  color: #fff;
  font-family: Stapel;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 19px; /* 124.59% */
}

.header__btn {
  text-align: center;
  max-width: 139px;
  height: 42px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.header__contact {
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
  max-width: 250px;
}
.header__telegram-icon {
  margin-right: 7px;
}
.header__vk-icon {
  background-color: #fff;
  border-radius: 50px 50px;
  -webkit-border-radius: 50px 50px;
  -moz-border-radius: 50px 50px;
  -ms-border-radius: 50px 50px;
  -o-border-radius: 50px 50px;
  margin-right: 15px;
}
.phone-link {
  margin-bottom: 10px;
  color: #fff;
}
.times-works {
  color: #fff;
  font-family: Stapel, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 17px; /* 124.343% */
}
.header__text-box {
  margin-top: 105px;
  max-width: 543px;
}
.header__text {
  color: #fff;
  font-family: Stapel;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 77px; /* 121.022% */
  margin-bottom: 146px;
}
.header__btn-big {
  max-width: 296px;
  height: 66px;
  padding: 25px 42px 0px 42px;
  background: #fff;
  color: #000;
  font-family: Stapel;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 0;
  margin-right: 21px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}
.header__btn-big:hover {
  background: #000;
  color: #ffff;
}
.header__btn-black {
  max-width: 173px;
  height: 66px;
  padding: 18px 43px 0px 43px;

  border: 1px solid #fff;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

/** Стили для секции Клиент* */
.clients {
  padding-bottom: 43px;
}
.clients__title {
  /* max-width: 620px; */
  height: 104px;
  margin: 42px 0 14px;
  font-family: Stapel;
  font-size: 52px;
  /* font-style: normal;
  font-weight: 400;
  line-height: 52px;  */
}


/* *Анимация пульсирующей кнопки* */
.btn__clients {
  border-radius: 61px;
  border: 2px solid #1c84c6;
  opacity: 0.9;

  width: 100px !important;
  height: 100px !important;
  box-sizing: border-box !important;

  position: fixed !important;
  right: 5% !important;
  bottom: 10% !important;
  z-index: 1000;
}
.btn__clients::before,
.btn__clients::after {
  content: '';
  position: absolute;
  border: 1px solid #29aee3;
  left: -20px;
  right: -20px;
  top: -20px;
  bottom: -20px;
  border-radius: 50%;
  animation: btn__clients 1.8s linear infinite;
  -webkit-animation: btn__clients 1.8s linear infinite;
}
.btn__clients::after {
  animation-delay: 0.5s;
}
@keyframes btn__clients {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
/* * Service* */
.service__title {
  color: #fff;
  font-family: Stapel;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 52px; /* 102.605% */
}
.service__wrapper-item {
  display: flex;
  flex-direction: column;
  
}
/* .service__item {
  max-width: 575px;
} */
.service__item-top {
  display:flex;
  
}
.service__item {
  
}
.service__item-bottom {
    display: flex;
  
}
.service__item-top {
  /* margin-bottom: 20px; */
}
.list-group-title {
  color: #fff;
  font-family: Stapel;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px; /* 120.833% */
}
